/*@font-face {
    font-family: 'Karla';
    src: url('../../Karla-VariableFont_wght.ttf');
}*/

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Light.ttf');
}